<ion-tabs>
  <ion-tab-bar slot="top, bottom">
    <ion-tab-button tab="home">
      <!-- <ion-icon name="person-circle"></ion-icon> -->
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="trajet">
      <ion-label>Trajet</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vehicule">
      <ion-label>Vehicule</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="propos">
      <ion-label>A propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>